<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .Header.Title }}</title>
</head>
<body>

{{ if .Header.Logo }}
{{ .Header.Logo }}"
{{ end }}

<h1>{{ .Header.Title }}</h1>
<p><i>{{ .Header.Subtitle }}</i></p>
<p>{{ .Header.Explanation }}</p>


<h2>Report Data</h2>
<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    {{ range $key, $value := .Data }}
    <tr>
        <td>{{ $key }}</td>
        <td>{{ $value }}</td>
    </tr>
    {{ end }}
</table>

<!-- Chart -->
{{ if .Chart.Title }}<h3>{{ .Chart.Title }}</h3>{{ end }}
{{ .Chart.Image }}
{{ if .Chart.Description }}<p><em>{{ .Chart.Description }}</em></p>{{ end }}

<div class="footer">{{ .Footer.Note }}</div>
</body>
</html>
